* {
  margin: 0;
}
html {
  background-color: rgb(228, 225, 225);
}
.box {
  width: 1500px;
  height: 994px;
  background-color: rgb(255, 255, 255);
  position: relative;

  margin-left: 180px;
}
.box_l {
  height: 1054px;
  width: 330px;
  background-color: #18181b;
  position: relative;
}
.img_1_tocki {
  position: relative;
  top: -10px;
  margin-left: 13px;
  width: 80px;
}
.plus {
  position: relative;
  top: 10px;
  margin-left: 155px;
  width: 70px;
}
.box_1_F {
  background-color: #18181b;
  position: relative;
  top: 10px;
}
.F {
  font-size: 30px;
  color: rgb(255, 255, 255);
  background-color: #18181b;
  margin-left: 20px;
  font-family: "Montserrat", sans-serif;
}
.god {
  font-size: 30px;
  color: rgb(233, 57, 57);
  background-color: #18181b;
  margin-left: 165px;
  font-family: "Montserrat", sans-serif;
  top: -35px;
  position: relative;
}
.strelk {
  width: 40px;
  top: -69px;
  position: relative;
  margin-left: 250px;
}
.kalendar {
  width: 290px;
  position: relative;
  height: 180px;
  top: -42px;
  margin-left: 15px;
}
.TODAY {
  position: relative;
  width: 46px;
  height: 20px;

  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #3b82f6;
  background-color: #18181b;
}
.zisla {
  width: 66px;
  height: 20px;
  left: 50px;
  top: -20px;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #3b82f6;
  background-color: #18181b;
}
.gradusu {
  position: relative;
  width: 24px;
  height: 20px;
  left: 250px;
  background-color: #18181b;
  top: -38px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.7);
}
.box_p {
  position: relative;
  top: -30px;
  background-color: #18181b;
  width: 320px;
  margin-left: 8px;
}
.All {
  position: relative;
  background-color: #a855f7;
  border-radius: 6px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 6px;
  width: 205px;
  height: 20px;
  top: -59px;
  margin-left: 8px;
}
.h1_All {
  width: 193px;
  height: 20px;
  left: 6px;
  top: 0px;
  background-color: #a855f7;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.sini {
  position: relative;
  background-color: #18181b;
  top: -45px;
}
.sini_sar {
  position: relative;
  margin-left: 8px;
}
.wrema {
  position: relative;
  background-color: #18181b;
  top: -16px;
  margin-left: 35px;
  width: 100px;
  height: 16px;
  font-weight: 600;
  font-size: 11px;
  color: #a1a1aa;
}
.kamera {
  position: relative;
  background-color: #18181b;
  top: -35px;
  margin-left: 120px;
}
.Monthly_s {
  position: relative;
  width: 248px;
  height: 16px;
  left: 33px;
  top: -35px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  align-items: center;
  color: #ffffff;
  background-color: #18181b;
}
.sulka {
  width: 156px;
  height: 16px;
  left: 35px;
  top: -33px;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #a1a1aa;
  position: relative;
  background-color: #18181b;
}
.sini_2 {
  position: relative;
  background-color: #18181b;
  top: -75px;
}
.box_p_2 {
  position: relative;
  top: -100px;
  background-color: #18181b;
  width: 320px;
  margin-left: 8px;
}
.TOMORROW {
  position: relative;
  width: 46px;
  height: 20px;

  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.7);
  background-color: #18181b;
}
.zisla_2 {
  width: 66px;
  height: 20px;
  left: 90px;
  top: -20px;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.7);
  background-color: #18181b;
}
.sini_3 {
  position: relative;
  background-color: #18181b;
  top: -135px;
}
.sini_4 {
  position: relative;
  background-color: #18181b;
  top: -160px;
}
.box_p_3 {
  position: relative;
  top: -175px;
  background-color: #18181b;
  width: 320px;
  margin-left: 8px;
}
.zisla_3 {
  width: 66px;
  height: 20px;
  left: 68px;
  top: -20px;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.7);
  background-color: #18181b;
}
.sini_5 {
  position: relative;
  background-color: #18181b;
  top: -210px;
}
.box_p_4 {
  position: relative;
  top: -235px;
  background-color: #18181b;
  width: 320px;
  margin-left: 8px;
}
.sini_6 {
  position: relative;
  background-color: #18181b;
  top: -270px;
}
.box_p_5 {
  position: relative;
  top: -295px;
  background-color: #18181b;
  width: 320px;
  margin-left: 8px;
}
.zisla_4 {
  width: 66px;
  height: 20px;
  left: 95px;
  top: -20px;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.7);
  background-color: #18181b;
}
.sini_7 {
  position: relative;
  background-color: #18181b;
  top: -330px;
}
.sini_8 {
  position: relative;
  background-color: #18181b;
  top: -350px;
}
.menu {
  position: relative;

  height: 40px;
  width: 1100px;
  top: -1030px;
  margin-left: 350px;
}
.box_menu {
  position: relative;
  display: flex;
  background-color: rgb(255, 255, 255);
  top: -36px;
  width: 500px;
  margin-left: 300px;
}
.menu_h1 {
  background-color: rgb(255, 255, 255);
  margin-left: 20px;
  font-size: 20px;
  color: #646464;
  font-family: "Montserrat", sans-serif;
}
.menu_h1_2 {
  position: relative;
  background-color: rgb(224, 36, 36);
  margin-left: 40px;
  width: 100px;
  height: 35px;
  margin-left: 20px;
  border-radius: 10px;
  font-size: 20px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.tuday {
  position: relative;
  top: 3px;
  width: 140px;
}
.box0123 {
  width: 250px;
  height: 60px;

  position: relative;
  top: -75px;
  margin-left: 970px;
}
.input1003 {
  height: 30px;
  width: 150px;
  background-color: #f5f5f5;
  margin-left: 10px;
  border-radius: 3px;
  border: 0ch;
}
.wrap-input1003 {
  position: relative;
  top: -30px;
  font-family: "Exo", sans-serif;
  transition: all 0.2s ease;
}
.poisk {
  position: relative;
  width: 31.5px;
  top: 5px;
  margin-left: -20px;
}
.box_kletki {
  position: relative;
  background-color: #e5e5e5;
  width: 1170px;
  height: 880px;
  top: -1014px;
  margin-left: 330px;
}
.k_1 {
  width: 1170px;
  position: relative;
  background-color: #e5e5e5;
  height: 80px;
  display: flex;
}
.nox_k_1_0 {
  position: relative;
  width: 65px;
  height: 80px;
  background-color: rgb(255, 255, 255);
  margin-left: px;
}
.nox_k_1_0_2 {
  position: relative;
  width: 65px;
  height: 80px;
  background-color: rgb(255, 255, 255);
}
.nox_k_1 {
  position: relative;
  width: 160px;
  height: 80px;
  background-color: rgb(255, 255, 255);
  margin-left: 1px;
}
.Est {
  background-color: rgb(255, 255, 255);
  margin-left: 10px;
  font-size: 12px;
  color: #646464;
  font-family: "Montserrat", sans-serif;
}
.MES {
  background-color: rgb(255, 255, 255);
  margin-left: 10px;
  font-size: 12px;
  color: #646464;
  font-family: "Montserrat", sans-serif;
}
.MES_2 {
  background-color: rgb(243, 242, 242);
  margin-left: 10px;
  font-size: 12px;
  color: #646464;
  font-family: "Montserrat", sans-serif;
}
.zzz {
  background-color: rgb(255, 255, 255);
  margin-left: 10px;
  font-size: 20px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
}
.zzz_2 {
  background-color: rgb(243, 242, 242);
  margin-left: 10px;
  font-size: 20px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
}
.k_2 {
  width: 1170px;
  position: relative;
  background-color: #e5e5e5;
  height: 80px;
  display: flex;
  top: 2px;
}
.nox_k_1_1 {
  position: relative;
  width: 160px;
  height: 80px;
  background-color: rgb(243, 242, 242);
  margin-left: 1px;
}
.nox_k_1_2 {
  position: relative;
  width: 160px;
  height: 80px;
  background-color: rgb(243, 242, 242);
  margin-left: 1px;
}
.MES_5 {
  background-color: rgb(230, 232, 253);
  margin-left: 10px;
  font-size: 12px;
  color: #646464;
  font-family: "Montserrat", sans-serif;
}
.zzz_5 {
  background-color: rgb(230, 232, 253);
  margin-left: 10px;
  font-size: 20px;
  color: #646464;
  font-family: "Montserrat", sans-serif;
}
.nox_k_1_5 {
  position: relative;
  width: 160px;
  height: 80px;
  background-color: rgb(230, 232, 253);
  margin-left: 1px;
}
.k_3 {
  width: 1170px;
  position: relative;
  background-color: #e5e5e5;
  height: 80px;
  display: flex;
  top: 3px;
}
.k_4 {
  width: 1170px;
  position: relative;
  background-color: #e5e5e5;
  height: 80px;
  display: flex;
  top: 4px;
}
.k_5 {
  width: 1170px;
  position: relative;
  background-color: #e5e5e5;
  height: 80px;
  display: flex;
  top: 5px;
}
.k_6 {
  width: 1170px;
  position: relative;
  background-color: #e5e5e5;
  height: 80px;
  display: flex;
  top: 6px;
}
.k_7 {
  width: 1170px;
  position: relative;
  background-color: #e5e5e5;
  height: 80px;
  display: flex;
  top: 7px;
}
.k_8 {
  width: 1170px;
  position: relative;
  background-color: #e5e5e5;
  height: 80px;
  display: flex;
  top: 8px;
}
.k_9 {
  width: 1170px;
  position: relative;
  background-color: #e5e5e5;
  height: 80px;
  display: flex;
  top: 9px;
}
.k_10 {
  width: 1170px;
  position: relative;
  background-color: #e5e5e5;
  height: 100px;
  display: flex;
  top: 10px;
}
.k_11 {
  width: 1170px;
  position: relative;
  background-color: #e5e5e5;
  height: 100px;
  display: flex;
  top: -8px;
}
.k_12 {
  width: 1170px;
  position: relative;
  background-color: #e5e5e5;
  height: 30px;
  display: flex;
  top: -26px;
}
.box_bela {
  position: relative;
  background-color: #e5e5e5;
  width: 20px;
  height: 200px;
}
.box_8_1 {
  position: relative;
  background-color: rgba(14, 165, 233, 0.1);
  width: 148px;
  height: 80px;
  border-radius: 5px;
}
.box_8_lini {
  position: relative;
  background-color: #0ea5e9;
  width: 5px;
  height: 78px;
  border-radius: 5px 1px 1px 5px;
  margin-left: 1px;
}
.h1_8_1 {
  position: relative;
  width: 57px;
  height: 16px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  color: #0369a1;
  top: -70px;
  margin-left: 10px;
}
.sini-kamera {
  position: relative;
  top: -89px;
  margin-left: 67px;
}
.h2_8_1 {
  position: relative;
  width: 137px;
  height: 16px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  color: #0369a1;
  top: -90px;
  margin-left: 10px;
}
.h3_8_1 {
  position: relative;
  width: 137px;
  height: 16px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  color: #0369a1;
  top: -70px;
  margin-left: 10px;
}
.box_F_1 {
  position: relative;
  background-color: #b499ff3b;
  width: 148px;
  height: 80px;
  border-radius: 5px;
}
.box_F_lini {
  position: relative;
  background-color: #8b5cf6;
  width: 5px;
  height: 78px;
  border-radius: 5px 1px 1px 5px;
  margin-left: 1px;
}
.burger {
  position: relative;
  width: 10px;
}
.box_8_1_K_7 {
  position: relative;
  background-color: rgba(14, 165, 233, 0.1);
  width: 148px;
  height: 80px;
  border-radius: 5px;
  margin-left: -5px;
}
.kofi {
  position: relative;
  width: 14px;
}
.box_1_ZZ {
  position: relative;
  background-color: #f59f0b1f;
  width: 148px;
  height: 80px;
  border-radius: 5px;
}

.box_lini_ZZ {
  position: relative;
  background-color: #f59e0b;
  width: 5px;
  height: 78px;
  border-radius: 5px 1px 1px 5px;
  margin-left: 1px;
}
.h1_8_1_zz {
  width: 100px;
  height: 16px;
  font-family: "Montserrat", sans-serif;

  font-size: 12px;
  color: #b45309;
  position: relative;
  top: -72px;
  margin-left: 12px;
}
.h2_8_1_zz {
  position: relative;
  width: 137px;
  height: 16px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  color: #b45309;
  top: -90px;
  margin-left: 10px;
}
.h1_8_1f {
  width: 100px;
  height: 16px;
  font-family: "Montserrat", sans-serif;

  font-size: 12px;
  color: #6d28d9;
  position: relative;
  top: -72px;
  margin-left: 12px;
}
.h2_8_1f {
  position: relative;
  width: 137px;
  height: 16px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  color: #6d28d9;
  top: -90px;
  margin-left: 10px;
}
.h1_8_1_kk {
  width: 100px;
  height: 16px;
  font-family: "Montserrat", sans-serif;

  font-size: 12px;
  color: #be123c;
  position: relative;
  top: -72px;
  margin-left: 12px;
}
.h2_8_1_kk {
  position: relative;
  width: 137px;
  height: 16px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  color: #be123c;
  top: -90px;
  margin-left: 10px;
}
.box_1_KK {
  position: relative;
  background-color: #ffe4e6;
  width: 148px;
  height: 80px;
  border-radius: 5px;
}

.box_lini_KK {
  position: relative;
  background-color: #f43f5e;
  width: 5px;
  height: 78px;
  border-radius: 5px 1px 1px 5px;
  margin-left: 1px;
}
.pivo {
  position: relative;
  width: 15px;
}
.box_1_KK_2 {
  position: relative;
  background-color: #ffe4e6;
  width: 148px;
  height: 80px;
  border-radius: 5px;
}
.box_8_1_pol {
  position: relative;
  background-color: rgba(14, 165, 233, 0.1);
  width: 70px;
  height: 80px;
  border-radius: 5px;
}
.box_8_1_pol_2 {
  position: relative;
  background-color: rgba(16, 185, 129, 0.1);
  top: -80px;
  width: 70px;
  height: 80px;
  border-radius: 5px;
  margin-left: 71px;
}
.box_8_lini {
  position: relative;
  background-color: #0ea5e9;
  width: 5px;
  height: 78px;
  border-radius: 5px 1px 1px 5px;
  margin-left: 1px;
}
.box_8_lini_2 {
  position: relative;
  background-color: #10b981;
  width: 5px;
  height: 78px;
  border-radius: 5px 1px 1px 5px;
  margin-left: 1px;
}
.h2_8_1pol {
  position: relative;
  width: 56px;
  height: 64px;
  left: 6px;
  top: -70px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #0369a1;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
}
.h2_8_1pol_2 {
  position: relative;
  width: 56px;
  height: 64px;
  left: 6px;
  top: -70px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #047857;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
}
.h1_8_1_2pol {
  width: 100px;
  height: 16px;
  font-family: "Montserrat", sans-serif;

  font-size: 12px;
  color: #047857;
  position: relative;
  top: -72px;
  margin-left: 12px;
}
